*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 110px;

}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 110px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1px solid white;
}

.nav-icon{
    display: flex;
    margin-left: 15px;
    align-items: center;

    
}
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 30px;
    
    
}
.add-second{
    color: white;
    font-size: 1rem;
    margin-left: 3px;
    
}
/**box3**/
.nav-search{
    display: flex;
    margin-left: 20px;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 5px;
    justify-content: space-evenly;
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: rgb(255, 174, 0);
    border-radius: 5px;
    color: black;
}

.signin-first{
    font-size: 12px;
}
.signin-second{
    font-size: 14px;
    font-weight: bolder;
}
.orders-first{
    font-size: 12px;
}
.orders-second{
    font-size: 14px;
    font-weight: bolder;
}
.cart{
    display: flex;
    font-size: 20px;
}
.panel{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    background-color: #222f2d;
    color: white;
    
}
.panel-all{
    display: flex;
   ;

}
.panel-ops p {
    margin: 15px;
}

.all-first{
    font-size: 20px;
    padding-left: 5px;
}
.panel-ops {
    display: flex;
    width: 70%;
    font-size: 0.85rem;
    margin-left: 15px;
}
.panel-deals{
    display: flex;
    font-size: 0.9rem;
    font-weight: 700;
}
.hero-section {
    background-image: url("hero_image.jpg");
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom: 20px;
    width: 97%;
}
.hero-msg a {
    color: #007185;
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box {
   /** border: 2px solid black;**/
    height: 450px;
    width: 23%;
    margin-top: 15px;
    background-color: white;
   
    
}
.box-img{
    height: 350px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-size: cover;
    
   
}
.box-content{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    
}
.box-content p {
    color: #007185;
    font-size: larger;
}
footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul {
    margin-top: 20px;
}
ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;

}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border: 0.5px solid white;
    border-bottom: none;
    border-left: none;
    border-right: none;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-panel4{
    background-color:  #222f3d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.pages {
    font-size: 0.9rem;
    text-align: center;
    padding-top: 25px;
    color: white;
    justify-content: space-evenly;
}
.copyright{
    background-color:   #222f3d;
    color: white;
    font-size: 0.7rem;
    text-align: center;
   padding-bottom: 35px;
}